<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.karageageta.imagepicker">

    <application>
        <activity android:name="io.github.karageageta.imagepicker.ui.picker.ImagePickerActivity" />
        <activity android:name="io.github.karageageta.imagepicker.ui.detail.DetailActivity" />
    </application>

</manifest>